<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <main class="container mt-5">
    <h1>About Dennis!</h1>
    <h2>Dennis history</h2>
    <div class="col-sm-3">
         <img src="Profile.png" alt="Profile picture" class="img-thumbnail">
    </div>
    <div class="col-sm-6">
        Dennis was born in february, 1996 in the coastal town of Falkenberg. He grew up in a decently normal way, going through school and friends.
        He studied technical in his gymnasium while working in a steel-workshop and afterwards worked as a waiter. He moved to Austrialia and worked as a LED light salesman before coming home to Sweden to start studiying computers in JU.
    </div>
    </main>
   
</body>
</html>

