<h1 class="text-center display-2">Blogs</h1>

{{#if isLoggedIn}}
<div class="text-center">
   <a href="/blogs/create-blogpost" class="btn btn-primary btn-center" style="width: 15rem;" >Create new Blogpost</a> 
</div>
{{/if}}

<div class="container">
    <div class="col">
        {{#if blogposts.length}}
            {{#each blogposts}}
                <div class="col sm-6 my-5">
                    <div class="card text-center card w-100" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">
                                {{description}}
                            </p>
                                <a href="/blogs/{{id}}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p>There are currently no blogposts!</p>
        {{/if}}
    </div>
</div>


