<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <main class="container mt-5">
        <h1>How to contact Dennis</h1> 
        <h2>Adress:</h2>
        <p>Slottsgatan 40, 553 23, Jönköping</p>
        <h2>Mail:</h2>
        <p>Dennis.Karlsson96@outlook.com</p>
    </main>
</body>
</html>


