<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Project</title>
</head>

<body>
    <main class="containter mt-5 text-center">
        <form action="" method="POST">
            <h1>Create new project</h1>
            <div>
                Title: <input type="text" name="title">
            </div>
            <div>
                Content:<textarea name="content" name="project-content" cols="100" rows="20"></textarea>
                <div>
                    Description?<textarea name="description" name="project-description" cols="100" rows="5"></textarea>
                </div>
            </div>
            <input type="submit" value="Create Project">
        </form>
    </main>
</body>
</html>