{{#if validationErrors.length}}
<div class="container card text-center card w-100 mt-5" style="width: 20rem;">
    <div>Can't create blogpost because:</div>
    <ul>
        {{#each validationErrors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
{{/if}}

<body>
    <main class="containter mt-5 text-center">
        <form action="" method="POST">
            <h1>Create new blogpost</h1>
            <div>
                <input type="text" name="title" placeholder="Title" style="width: 25rem;">
            </div>
            <div>
                <textarea name="content" placeholder="Content" cols="100" rows="20"></textarea>
                <div>
                    <textarea name="description" placeholder="Description" cols="100" rows="5"></textarea>
                </div>
            </div>
            <input type="submit" value="Create Blogpost">
        </form>
    </main>
</body>