<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <main class="container mt-5">
    <h1>All Dennis!</h1>
    <h2>
        Welcome to All Dennis, a site all about Dennis!
    </h2>
    <p>
        Here you can explore what Dennis is doing in his everdyday life in his Blog.
        You can go into the Guest Blog if you have meet Dennis and want to talk about it or connect with others who have meet him.
        In Portfolio you can discover what Dennis has been working on!
    </p>
    <div class="col-md-6">
        <img src="/Home.jpg" class="img-fluid" alt="Dennis first image">
    </div>
    
    <p>
        Please enjoy your experience at All Dennis! 
    </p>
    </main>
 
</body>
</html>


