<h1 class="text-center display-2">Portfolio</h1>

{{#if isLoggedIn}}
<div class="text-center">
    <a href="/portfolio/create-project"class="btn btn-primary btn-center" style="width: 15rem;" >Create new Project</a>
</div>
{{/if}}

<div class="container">
    <div class="col">
        {{#if portfolio.length}}
        {{#each portfolio}}
        <div class="col sm-6 my-5">
            <div class="card text-center card w-100" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">
                        {{description}}
                    </p>
                    <a href="/portfolio/{{id}}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {{/each}}
        
        {{else}}
        <p>There are currently no projects in the portfolio.</p>
        {{/if}}
    </div>
</div>