<h1 class="text-center">PORTFOLIO</h1>

<div class="container-fluid">
    <div class="col">
        {{#if portfolio.length}}
            {{#each portfolio}}
                <div class="col sm-6 my-5">
                    <div class="card text-center card w-100" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">
                                {{content}}
                            </p>
                                <a href="/portfolio/{{id}}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p>This is wrong</p>
        {{/if}}
    </div>
</div>