<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{portfolio.title}}</title>
</head>
<body>
    <main class="conatiner jumbotron mt-5 text-center">
        <h1>{{portfolio.title}}</h1>
        <div>
            {{portfolio.content}}
        </div>
    </main>
    <footer class="container mb-5">
        <form action="" method="post">
            <div class="text-center">Will be hidden later</div>
           <button type="submit">Update</button> 
           <button type="submit">Delete</button> 
        </form>
        
    </footer>
</body>
</html>